.shapes {
  .shape {
    position: absolute;
  }

  .s1 {
    top: 80%;
    left: 15%;
  }
  .s2 {
    top: 10%;
    left: 60%;
  }
  .s3 {
    top: 15%;
    left: 30%;
  }
  .s4 {
    top: 17%;
    left: 84%;
  }
  .s5 {
    top: 20%;
    left: 9%;
  }
  .s6 {
    top: 39%;
    left: 70%;
  }
  .s7 {
    top: 39%;
    left: 27%;
  }
  .s8 {
    top: 55%;
    left: 10%;
  }
  .s9 {
    top: 63%;
    left: 86%;
  }
  .s10 {
    top: 75%;
    left: 35%;
  }
  .s11 {
    top: 78%;
    left: 71%;
  }
}
